{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %}{% endblock %} | Главная страница</title>
</head>
<body>
{% include 'includes/header.html' %}
    <h1>{% block header %} Главная страница Modern City {% endblock %}</h1>

    <div>
        {% block content %}
           Тут будет много интересного.
        {% endblock %}
    </div>

</body>
</html>